.header {
  background-color: #d0e1e8;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo-container {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.restraunt-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff;
  margin: 5rem 0;
}

.restraunt-card {
  width: 18rem;

  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #d0e1e8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.restraunt-card:is(:hover, :focus) {
  border-color: transparent;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.restraunt-img-container {
  height: 12rem;
  border-radius: 1rem;
  overflow: hidden;
}
.restraunt-img {
  transition: all 1.2s ease;
}
.restraunt-img:is(:hover, :focus) {
  transform: scale(1.1);
}

.restraunt-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.eta {
  display: flex;
  flex-direction: row-reverse;
}
.restraunt-name {
  font-size: 1.15rem;
  border-bottom: 1px solid #267e3e;
  padding-bottom: 1rem;
}
.restraunt-rating {
  background-color: #267e3e;
  color: #f4f8f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
  gap: 0.5rem;
}
.cuisines,
.cost-for-2 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.1rem;
}
.cost-for-2 {
  font-weight: bold;
}

.filter-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}
.btn:is(:hover) {
  box-shadow: 0.75rem 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}
.btn:active {
  box-shadow: 0.35rem 0.35rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.01rem);
}
.filter-btn {
  background-color: cadetblue;
  color: white;
}
.all-btn {
  background-color: thistle;
  color: midnightblue;
}
